*.csv
*.tsv
*.xlsx
*.rds
*.Rdata
*.nc
__pycache__/
*.pyc
.ipynb_checkpoints/
.Rhistory
.Rapp.history
.RData
*-Ex.R
*.tar.gz
*.zip
*.Rcheck/
.DS_Store
.Rproj.user/
*.log
outputs/models/*.rds
outputs/models/*.pkl
flights_clean.rds
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
scratch/
